<div class="header__component">
    <div class="header__container container mx-auto">
        <div class="header__wrapper flex items-center justify-between px-8 py-4 border-b">
            <div class="header__left__wrapper flex items-center justify-between gap-10">
                <div class="header__logo">
                    <a routerLink="/recruiter">
                        <img class="h-8" [src]="logo" alt="MyRH recruitement">
                    </a>
                </div>
            </div>
            <div class="header__right__wrapper">
                <div class="header__navigation">
                    <ul class="header__navigation__menu flex items-center gap-5">
                        <li class="header__navigation__item"><a href="#" class="header__navu">Notifications</a></li>
                        <li class="header__navigation__item"><a href="#" class="header__navu">Messages</a></li>
                        <li class="header__navigation__item"><a routerLink="/plans" class="header__navu">pricing</a></li>
                        <li class="header__navigation__item border-l-2 px-8"><a href="#" class="header__navu">Profile</a></li>
                        <li class="header__navigation__item px-8"><app-button [clickEvent]="handleLogOut">Logout</app-button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>