<div class="job__offers_search__bar w-fit mb-6">
    <div class="job__offers_search__bar__container container mx-auto">
        <div class="job__offers_search__bar__wrapper flex items-center gap-2 pr-4 border border-[#949494] rounded-lg shadow-[0_10px_10px_#00000014]">
            <div class="search__inputs flex items-center">
                <div class="job__searc">
                    <app-search-bar icon="search" placeholder="job title"></app-search-bar>
                </div>
                <div class="location__search">
                    <app-search-bar icon="current-location" placeholder="City"></app-search-bar>
                </div>
            </div>
            <div class="search__submit__btn">
                <app-button>find jobs</app-button>
            </div>
        </div>
    </div>
</div>
