<div class="search__bar">
    <div class="search__bar__container container mx-auto">
        <div class="search__var__wrapper relative px-4 has-[:focus]:outline has-[:focus]:outline-1 has-[:focus]:before:content-[''] has-[:focus]:before:absolute has-[:focus]:before:top-0 has-[:focus]:before:left-0 has-[:focus]:before:w-full has-[:focus]:before:h-full has-[:focus]:before:rounded-lg has-[:focus]:before:shadow-[inset_0_-3px_0_0_#2557a7] has-[:focus]:outline-[#2557a7] duration-100 ease-linear rounded-lg">
            <div class="search__input flex items-center gap-2">
                <span class="text-2xl">
                    <i class='bx bx-{{icon}}'></i>
                </span>
                <input class="h-14 w-full p-2 text-base capitalize focus:outline-none" type="text" placeholder="{{placeholder}}">
            </div>
        </div>
    </div>
</div>